/*
Theme Name: Picowind Base
Theme URI: https://picowind.com/
Description: The default child theme of Picowind - automatically installed when Picowind is activated
Author: The LiveCanvas Team
Version: 1.0.0
Template: picowind
Requires PHP: 8.1
Text Domain: picowind-base
Tags: livecanvas, tailwind, tailwindcss, tailwind css
License: GPLv3
License URI: https://www.gnu.org/licenses/gpl-3.0.html
*/
