/*
Theme Name: Picowind Child
Theme URI: https://picowind.com/
Description: Child theme of Picowind - automatically installed when Picowind is activated
Author: The LiveCanvas Team
Version: 1.0.0
Template: picowind
Requires PHP: 8.1
Text Domain: picowind-child
Tags: livecanvas, tailwind, tailwindcss, tailwind css
License: GPLv3
License URI: https://www.gnu.org/licenses/gpl-3.0.html
*/
