/*
Theme Name: Picowind Blank
Theme URI: https://picowind.com/
Description: A blank child theme for Picowind - start building your custom theme from scratch
Author: The LiveCanvas Team
Version: 1.0.0
Template: picowind
Requires PHP: 8.1
Text Domain: picowind-blank
Tags: livecanvas, tailwind, tailwindcss, tailwind css
License: GPLv3
License URI: https://www.gnu.org/licenses/gpl-3.0.html
*/
